/* Grid config */
$grid-columns: 24;
$grid-gutter-width: 20px;
$container-large-desktop: (1180px + $grid-gutter-width);

/* Typography */
$primaryFont: 'Nunito Sans', Helvetica, Arial, sans-serif;
$secondaryFont: 'Open Sans', Helvetica, Arial, sans-serif;

$fontRegular: 400;
$fontMedium: 500;
$fontSemiBold: 600;
$fontBold: 700;
$fontExtraBold: 800;

/* Colors */
$merlin: #4d423e;
$dustyGray: #999999;
$roseBud: #f8b89f;
$nobel: #b4b4b4;
$alabaster: #fafafa;
$pottersClay: #896935;
$silverChalice: #a0a0a0;
$saffronMango: #fbc153;
$casablanca: #f9a74a;
$red: #ff0000;
$downy: #56d6b0;
$codGray: #0f0b0b;
$osloGray: #96999c;
$brightSun: #ffea34;
$wildSand: #f7f7f7;
$white: #ffffff;
$black: #000000;
$desertStorm: #f2f1f0;
$alto: #d6d6d6;
$doveGray: #6e6e6e;
$thunder: #231e1f;
$gorse: #ffe93e;
$roseFog: #e6c5b8;
$santaFe: #b37359;
$mineShaft: #353535;
$tundora: #4d4d4d;
$silver: #bababa;
$mercury: #e8e8e8;

/* Styles */
$primaryColor: $black;
$secondaryColor: $mercury;
$bodyTextColor: $black;
$borderColor: $black;
